# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\paperClub_hub\GitHub\Project\3_paperClub_Daily\paperClub_daily\20230502_代理\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
