<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECharts Demo</title>

<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src="{{ url_for('static', path='/js/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <div id="main" style="width: 600px;height:400px;"></div>

    <script>

    var data_x = {{ data.data_x | safe }};
    var data_ys = {{ data.data_y | safe }};
    var data_label = {{ data.data_label | safe }};
    var data_series = {{ data.data_series | safe }};
    console.log("data_x: ", data_x)
    console.log("data_label: ", data_label)
    console.log("data_ys: ", data_ys)
    console.log("data_series: ", data_series)

    var myChart = echarts.init(document.getElementById('main'));

    var option = {
        title: {
            text: '测试'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: data_label
        },
        xAxis: {
            data: data_x.map(function (item) { return item; })
        },
        yAxis: {},
        series: data_series
        // series: [
        //     {
        //         // name: 'Union Ads',
        //         name: data_label[0],
        //         type: 'line',
        //         data: data_ys[0]
        //     },
        //     {
        //          name: data_label[1],
        //         type: 'line',
        //         data: data_ys[1]
        //     },
        //     {
        //          name: data_label[2],
        //         type: 'line',
        //         data: data_ys[2]
        //     },
        // ]
    };
    myChart.setOption(option);


</script>
</body>
</html>